body{
    background-image: url("../images/tiger.jpeg");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-attachment: fixed;
    background-size: 40% 60%;
    background-color: black;
}

.score {
	/*margin-left: 264px;*/
	font-weight: bold !important;
	
}